@model ISTODB_application3.Models.PRODAVCY

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>PRODAVCY</legend>

    <div class="display-label">IMJA_PRODAVCA</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IMJA_PRODAVCA)
    </div>

    <div class="display-label">ZARPLATA</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ZARPLATA)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
