@model ISTODB_application3.Models.SPISOK_TOVAROV

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>SPISOK_TOVAROV</legend>

    <div class="display-label">TOVAR</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TOVAR)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
