@{
    ViewBag.Title = "ISTO";
}

<h2>@ViewBag.Message</h2>

    <!--To learn more about ASP.NET MVC visit <a href="http://asp.net/mvc" title="ASP.NET MVC Website">http://asp.net/mvc</a>. -->
    The features of this application are:
       <ul>
        <li>display the data from all tables</li>
        <li>provide capabilities to Create, Read, Upadte and Delete information from the database.</li>
       </ul>

